{% extends "base.html" %}

{% block title %} Friendly Cant Submit Page {% endblock %}

{% block body %}
<h1>Can't Submit CSRF Problem</h1>

<p>Don't Worry If You Cant Submit, it Happen all the times We Have 100000's of Page to compensate Just Go To <a href="/">HomePage</a> </p>
<br/>

<script src="https://web.crushus.com/AdsFiles/ads_error.js"></script>

{% endblock body %}
