{% extends "base.html" %}

{% block title %} Just Friendly Page Not Found {% endblock %}

{% block body %}
<h1>No Problem! This Page Don't Exist</h1>

<p>Don't Worry If Your Requested Page Not Found We Have 10000's of Page to compensate Just Go To <a href="/">HomePage</a> </p>
<br/>
<script src="https://web.crushus.com/AdsFiles/ads_error.js"></script>

{% endblock body %}
