{% extends "base.html" %}

{% block title %} Sorry Some Problem With Request It will be
fixed Shortly{% endblock %}

{% block body %}
<h1>Ooops!!! It happen and we are ashamed of it</h1>

<p>Don't Worry It Happen Some Times We Have 100000's of Page to compensate Just Go To <a href="/">HomePage</a> </p>
<br/>
<p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>

<script src="https://web.crushus.com/AdsFiles/ads_error.js"></script>

{% endblock body %}

