<!DOCTYPE html>

<html>
<head>
  <title>{% block title %}{% endblock %} | Crushus.com</title>
<!--
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" charset="utf-8"/>
<script src="bootstrap/js/bootstrap.min.js"></script> -->
<!-- font -->
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<!--JQuery Due To Eroor -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<!-- meta tag for responsiveness -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 <link rel="icon" href="static/images/favicon.ico" type="image/vnd.microsoft.icon" />
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="/static/css/base.css" type="text/css" charset="utf-8"/>

 <meta name="description" content="A Simple Website Developed To Get Access To All The Blocked Websites In the Whole World ,So Everyone Can Get Unrestristed Access To All Data On Web Like The Piratebay, Reddit ,Kickass Torrent , Uncensored Content,Extra Torrent,Torrentz Torrent, Torrent Hound,1337x Torrent, TorrentDownloads Torrent ,BitCoin Talk ,For PDA [4pda.ru], ExtremePirate ,Mibilism Forum ,Pirates Forum ,Pirate Forums Etc..">

{% block body %}{% endblock %}

<div class="text-center pagination-centered">
    <a href="/">Home Page</a>, <a href="/indexed/">Indexed Pages</a> , <a href="/disclaimer/">Disclaimer</a>, <a href="/features/">Features</a>
</div>
<footer class="secure">
  {% if secure_url %}
  <a href="{{secure_url}}">
  {% endif %}
  <img src="/static/images/{% if secure_url %}no{% endif %}lock.png" width="16" height="16">
  {% if secure_url %}not secure</a>
  {% else %}secure{% endif %}
</footer>
</html>
