<ul id="footer">
<li class=""><a href="http://crushus.com">*</a></li>
<li>© Copyright 2016</li>
<li>Powered by <a href="http://mr4x3.crushus.com">Mr.4x3</a></li>
<li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fwallpapers.Hq&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font=lucida+grande&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe></li>
</ul>