{% extends "base.html" %}

{% block title %}Features{% endblock %}

{% block body %}

<div id="header">
    <label>Features Of Website</label>
</div>
<ul style="padding: 35px">
    <li>
        <b>Encryption for all websites - SSL</b>
        CrushUs is optimized to keep you safe on the Web and our web proxy platform offers you free SSL security during your browsing. Our SSL certificate encrypts communication
        Between your (user) and proxy server (our server), this will make you anonymous on the web as well. Another advantage of SSL is the ability to bypass side effects
        Censorship restrictions CrushUs Proxy is perfect for rejecting YouTube in countries like Pakistan, China, Malaysia, Sudan and many others.
        <br/>
    </li>
    <li>
        <b>Anonymous web proxy Search</b>
        Use CrushUs to surf websites anonymously in complete privacy. Use CrushUs web proxy to search for things on google and navigate to those particolare websites in full
        anonymity. Whit a normal browser (chrome, mozilla, opera, safari etc) you can use a secure web search, like duckduckgo for example, but google will still be able to follow you
        and this is because is most probable that the website uses google trackers or adds. Hide your IP and route your internet traffic through our anonymous proxy servers. We don't
        keep any logs, because we don't care for them. CrushUs believes in the freedom on the internet and will try to offer it to you by any means necessary. Be free to surf and access
        the world wide web with CrushUs

    </li>
</ul>
{% endblock %}
