{% extends "base.html" %}
{% block title %}Recently Indexed Pages{% endblock %}

{% block body %}
<div id="recent">
  <div class="header"><label>Recently Indexed Pages:</label></div>
  <div id="recent_entries">
      <ol>
    {% for entry in latest_urls %}
          <li>
    <div class="url_container">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="url"><a style="!important" rel="nofollow" href="/{{entry.translated_address}}">{% if entry.display_address %}{{entry.display_address}}{% else %}{{entry.translated_address}}{% endif %}</a></span>
      <span >{{entry.last_updated|timesince}} ago</span>
    </div>
          </li>
    {% endfor %}
      </ol>
  </div>
    </div>
<style>
    .url {
	font-size: 12px;
}

</style>
 {% endblock %}
