{% extends "base.html" %}

{% block title %}UnBlocked Every Blocked, Censored Website, Free{% endblock %}

{% block body %}
  <meta name="google-site-verification" content="i_4PZcY4gHYyCzTxTmHpCmO-p-n15Oha-9ouLGzjvsQ" />
  <script type="text/javascript" charset="utf-8">
    var activeColor = "#000000";
    var disabledColor = "#959595";
    var defaultValue = "type url here...";

    function loadBox() {
      var box = document.getElementById("url_entry");
      if (box.value != defaultValue) {
        box.style.color = activeColor;
      }
    }

    function focusBox() {
      var box = document.getElementById("url_entry");
      if (box.value == defaultValue) {
        box.value = "";
        box.style.color = activeColor;
      }
    };

    function blurBox() {
      var box = document.getElementById("url_entry");
      if (box.value == "") {
        box.style.color = disabledColor;
        box.value = defaultValue;
      }
    };

    function submitUrl() {
      var protocol = 'http://';
      var inputVal = document.getElementById('url_entry').value;
      if (inputVal.startsWith(protocol)){
        inputVal = inputVal.slice(protocol.length)
      }
      window.location.href = location.href + inputVal;
    };

  </script>
<body onload="loadBox();">

    <div class="container">
        <div class="container text-center col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-offset-0 col-xs-12">

            <div id="header" class="text-center">
                <label>UnBlock Censored & Blocked Website</label><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FWallpapers.Hq&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=223442217781615" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:20px;" allowTransparency="true"></iframe>
            </div>
            <!-- Form Is HERE -->
            <div id="form_wrapper" class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form class="form-inline" action="" method="get" accept-charset="utf-8">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="input_wrapper">
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" style="padding: 0px;margin-top: 10px;">
                            <label id="http_prefix">http://</label>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8" style="padding: 3px;">
                            <input class="form-control" onfocus="focusBox();" onblur="blurBox();" type="text" name="url" placeholder="type url here..." id="url_entry"/>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" style="padding: 0px;margin-top: 3px;">
                            <button class="btn btn-success" id="go_button" onclick="submitUrl()" type="button">
                            Go
                           </button>
                       </div>
                    </div>
                </form>

                <div id="warning text-center" style="margin-top:20px">
                    <label>
                        Browse Any Website: <a href="most-compatible-websites/">Most Compatible Websites</a> , <a href="https://crushus.com">Crushus
                          Web</a>,  <a href="https://openinstagram.com">OpenInstagram</a>,

                    </label>
                </div>
            </div>

            <div>
                <strong>
                    Unlock Websites
                    <a href="/thepiratebay.org">The PirateBay</a> ,
                    <a href="/reddit.com">Reddit</a> ,
                    <a href="http://web.crushus.com/fps.html">Free Proxy Servers</a> ,
                    <a href="/extratorrent.cc/">Extra Torrent</a> ,
                    <a href="/torrentz2.eu/">Torrentz 2 Torrent</a> ,
                    <a href="/torrenthound.com">Torrent Hound</a> ,
                    <a href="/1337x.to">1337x Torrent</a> ,
                    <a href="/torrentdownloads.me">TorrentDownloads Torrent</a> ,
                    <a href="/bitcointalk.org/">BitCoin Talk</a> ,
                    <a href="/4pda.ru">For PDA [4pda.ru]</a> ,
                    <a href="/extremepirate.com/">ExtremePirate</a> ,
                    <a href="/forum.mobilism.org">Mibilism Forum</a> ,
                    <a href="/pirates-forum.org">Pirates Forum</a> ,
                    <a href="/eztv.ag/">EZTV Torrent</a> ,
                    <a href="/torrentdownloads.me/">Torrentdownloads Torrent</a> ,
                    <a href="/limetorrents.cc/">Lime Torrents</a> ,
                    <a href="/yts.ag/">YTS Torrent</a>
                </strong>
            </div>


        </div>
    </div>

    <!--    Start Partition-->
    <div id="recent" class="container">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="header">
                <b>Recently Unblocked:</b>
            </div>

            <div id="recent_entries">
                {% for entry in not_latest_urls %}
                <div class="url_container">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    <span class="url"><a class="url{{forloop.counter}}" rel="nofollow" href="/{{entry.translated_address}}">
                        {% if entry.display_address %}
                        {{entry.display_address}}
                        {% else %}
                        {{entry.translated_address|truncatechars:50}} ...
                        {% endif %}</a></span>
                        <span class="info url{{forloop.counter}}">{{entry.last_updated|timesince}} ago</span>
                    </div>
                    {% endfor %}
                </div>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="header">
                    <b>NOT So Recently Unblocked:</b>
                </div>

                <div id="recent_entries">
                    {% for entry in latest_urls %}
                    <div class="url_container">
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <span class="url"><a class="url{{forloop.counter}}" rel="nofollow" href="/{{entry.translated_address}}">
                            {% if entry.display_address %}
                            {{entry.display_address}}
                            {% else %}
                            {{entry.translated_address|truncatechars:50}} ...
                            {% endif %}</a></span>
                            <span class="info url{{forloop.counter}}">{{entry.last_updated|timesince}} ago</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br/>
            <div align='center'> {{ads_block|safe}} </div>
        </div>
    </div>
</body>
{% endblock %}
