{% extends "base.html" %}


{% block title %}
Most Compatible Websites
{% endblock %}


{% block body %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    {% for compatible_url in compatible_urls %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/{{compatible_url.domain_name}}">{{compatible_url.website_title}}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}
{% endblock %}
